.formContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.formTitle {
    text-align: center;
    color: #1976d2;
    margin-bottom: 15px;
}

.submitButton {
    margin-top: 15px;
    background-color: #1976d2 !important;
    color: white !important;
}

.submitButton:hover {
    background-color: #115293 !important;
}
